.appliance-list li {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.appliance-list li:last-child {
  border-bottom: none;
}

strong.price {
  font-size: 1.4em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

.carousel-control-next-icon:after
{
  font-family: "Font Awesome 5 Free";
  content: '\f105';
  font-size: 55px;
  color: rgba(0,0,0,0.3);
}

.carousel-control-prev-icon:after {
  font-family: "Font Awesome 5 Free";
  content: '\f104';
  font-size: 55px;
  color: rgba(0,0,0,0.3);
}

.carousel-indicators li {
  background-color: rgba(0,0,0,0.3);
}

.carousel-indicators .active {
  background-color: rgba(0,0,0,0.7);
}
